llama-index
llama-index-readers-web
streamlit
aimon>=0.10.0
httpx<0.28.1
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
h11>=0.16.0 # not directly required, pinned by Snyk to avoid a vulnerability